.panel {
    background: none transparent;
    .panel-title {
	a {  }
    }
    .panel-body {
    }
    .panel-footer {
    }
}
.slideshow {
    position: relative; height: 100%;
    .caption-container {
	position: absolute; left: 0; top: 50%; margin-top: -200px; z-index: 700; width: 100%;
	.inner {
	    height: 480px; background: #000; background: rgba(0, 0, 0, 0.8); position: relative;
	    .controls {
		position: absolute; height: 0; width: 100%; bottom: 80px; left: 0; overflow: visible;
		span {
		    display: block; color: #eee; float: left; width: 80px; height: 80px; opacity: 0.8; font-size: 40px; line-height: 80px; cursor: pointer; transition: 0.2s all; text-align: center;
		    &.next { float: right; }
		    &:hover { color: #fff; opacity: 1; background: #000; background: rgba(0, 0, 0, 0.8); }
		}
	    }
	    .pages {
		position: absolute; bottom: 20px; left: 0; width: 100%; text-align: center;
		a {
		    display: inline-block; width: 18px; height: 18px; border: 1px solid #a8a8a8; border-radius: 18px; padding: 3px; line-height: 30px; vertical-align: middle; position: relative;
		    & ~ a { margin-right: 4px; }
		    &:hover, &.selected {
			/*border: 4px solid #a8a8a8; width: 21px; height: 21px;*/ border-color: #fff;
			span { background: #fff; border-radius: 12px; opacity: 1; transition: 0.2s all; }
		    }
		    span { display: inline-block; line-height: 30px; width: 8px; height: 8px; text-indent: -999px; overflow: hidden; vertical-align: middle; position: absolute; top: 4px; left: 4px; opacity: 0; }
		}
	    }
	}
    }
    .items {
	list-style: none; margin: 0; padding: 0;
	& > li {
	    width: 100vw; position: relative; height: 100vh;
	    .img {
		position: absolute; top: 0; left: 0; width: 100%; height: 100vh; text-align: center;
		img { display: inline-block; height: 100%; width: 100%; object-fit: cover; }
	    }
	    .desc {
		color: #fff; height: 100%; position: relative; top: 50%; 
		.inner {
		    position: relative; height: 300px; z-index: 720; margin-top: -150px; padding: 0 (@grid-gutter-width * 2) 0 (@grid-gutter-width * 2.5);
		    h2 {
			font-size: 36px; color: #fff; text-align: center; margin: 0; 
			a, span {
			    color: #fff; display: inline-block; border-top: 1px solid #fff; border-bottom: 1px solid #fff; padding: 10px 0;
			    &:hover {
				text-decoration: none;
			    }
			}
		    }
		    p { margin-top: 26px; }
		    .sharings {
			margin-top: 26px;
			li {
			    font-size: 24px;
			    a {
				color: #fff;
				&:hover { text-decoration: none; }
			    }
			}
		    }
		    .section {
			text-align: center; margin-top: 26px;
			a {
			    display: inline-block; color: #fff; border: 1px solid #fff; padding: 5px;
			    &:hover { text-decoration: none; }
			}
		    }
		}
	    }
	}
    }
    &.panorama {
	@carousel-height: 200px;
	h2 {
	    font-size: 36px; color: #fff; text-align: center; margin: 0 0 80px 0; text-shadow: 0 0 6px #000;
	    a, span {
		color: #fff; display: inline-block; border-top: 1px solid #fff; border-bottom: 1px solid #fff; padding: 10px 30px;
		&:hover {
		    text-decoration: none;
		}
	    }
	}
	& > .img {
	    position: absolute; top: 0; left: 0; width: 100%; height: 100vh; text-align: center;
	    img { display: inline-block; height: 100%; width: 100%; object-fit: cover; }
	}
	.caption-container {
	    .inner {
		height: @carousel-height; background: #000; background: rgba(0, 0, 0, 0.8); position: relative;
		.controls {
		    position: absolute; height: 0; width: 100%; bottom: 140px; left: 0; overflow: visible;
		}
	    }
	}
	.items-holder {
	    position: absolute; width: 100%; top: 50%; margin: -60px 0 0 0; height: 200px;
	    .inner {
		position: relative; width: 100%; z-index: 700; padding: 0 70px; height: @carousel-height; overflow: hidden; /* background: rgba(234, 54, 65, 0.7); */
		.items {
		    height: @carousel-height;
		    li {
			width: 120px; height: auto; float: right; padding: 50px 0; cursor: pointer; text-align: center;
			& ~ li { margin-right: 15px }
			.thumb {
			    margin-bottom: 10px; max-height: 68px; overflow: hidden;
			    img { display: block; width: 100%; height: auto; }
			}
			.title {
			    color: #ddd; font-size: 16px;
			}
		    }
		}
	    }
	}
    }
}
.panel {
    &.content {
	.panel-body {
	    height: 100vh;
	    .player {
		position: absolute; top: 0; left: 0; width: 60%; height: 100%; height: 100vh; background: @green; overflow: hidden;
		.img {
		    text-align: center; position: relative; height: 100%;
		    img { display: block; height: 100%; width: auto; position: absolute; top: 0; left: 50%; margin-left: -50%; }
		}
	    }
	    .desc {
		position: absolute; top: 0; left: 60%; width: 40%; background: @darGray; height: 100%; height: 100vh;
		.inner {
		    padding: 180px 100px 0; color: #fff;
		    h2 { margin: 0; font-size: 48px; padding-bottom: 10px; border-bottom: 1px solid #fff; }
		    p { margin-top: 30px; font-size: 20px; line-height: 1.7; }
		}
	    }
	    .tools {
		width: 100%; height: 120px; position: absolute; bottom: 0;  z-index: 790;
		.right {
		    margin-left: 60%; width: 40%;
		    ul {
			li {
			    float: left;
			}
		    }
		}
		.left {
		    float: left; width: 60%; 
		    ul { float: right; }
		}
		ul {
		    background: rgba(0, 0, 0, 0.8); height: 120px;
		    li {
			display: inline-block; padding: 0; margin: 0;
			a {
			    display: block; width: 120px; height: 120px; text-align: center; line-height: 120px; font-size: 48px; color: #fff;
			    &:hover { text-decoration: none; }
			}
			& ~ li { border-right: 1px solid #fff; }
		    }
		}
	    }
	    .items {
		li {
		    position: absolute; top: 0; left: 0; width: 100%; height: 100vh; overflow: hidden;
		    &.active { display: block; }
		}
	    }
	}
    }
    &.tiles {
	.panel-heading {
	    text-align: center;
	    h2 { display: inline-block;	color: #fff; border-top: 1px solid #fff; border-bottom: 1px solid #fff; font-size: 60px; margin: 80px auto 100px; }
	}
	.city-select {
	    margin-bottom: 50px;
	    .form-center {
		width: 240px; margin: 0 auto; position: relative;
		input, button { border-radius: 0; }
		button { position: absolute; top: 4px; left: 1px; background: #fff; color: @green; border: 0 none; border-right: 2px solid @green; font-size: 24px; padding: 3px; height: 24px; line-height: 24px; }
		.form-group { margin: 0; }
	    }
	}
	.tiles {
	    ul {
		li {
		    width: 120px; height: 120px; padding: 0; margin: 0; background: @darkGreen; border: 3px solid @darkGreen; text-align: center; transition: 0.2s all;
		    & ~ li { margin-right: (@grid-gutter-width / 2); }
		    &:hover { border-color: #fff; }
		    a {
			display: block; width: 100%; height: 100%; color: #fff; padding: 8px; outline: 0 none;
			&:hover { text-decoration: none; }
			span {
			    display: block; font-size: 19px;
			    &.icon { font-size: 60px; line-height: 72px; }
			}
		    }
		}
	    }
	}
    }
    &.interaction {
	padding-top: 100px; color: #fff;
	.panel-heading {
	    text-align: center;
	    h2 { display: inline-block; border-top: 1px solid #fff; border-bottom: 1px solid #fff; font-size: 60px; margin: 50px auto 25px; }
	}
	.alert {
	    background: @darkGray; padding: @grid-gutter-width; font-size: 16px; margin-bottom: @grid-gutter-width;
	    p {
		& ~ p {
		    margin-bottom: 0;
		}
	    }
	}
	.contact-form {
	    a {
		color: #fff; transition: 0.2s all;
		&:hover { text-decoration: none; color: @green; }
	    }
	    .contact-details {
		margin-bottom: 40px; font-size: 16px;
		li {
		    transition: 0.2s all;
		    span {
			width: 150px; display: inline-block; text-align: left; margin-left: 10px;
			i { margin-left: 8px; opacity: 0.6; }
			&:after { content: ': ' }
		    }
		    &:hover { color: #ccc; }
		}
	    }
	    input, textarea { border-radius: 3px; }
	}
    }
}